/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

/* ativação do flex para todos os containers*/
/* container flex e itens flex*/
.container-flex {
display: flex;
background-color: purple;
color: white;
gap: 10px; /* Espaçamento entre os itens*/
}
.item-flex {
    background-color: orange;
    padding: 20px;
    text-align: center;
}


/* 2. Flex Direction*/
.direcao-linha{
    flex-direction: row; /*padrão*/
}
.direcao-coluna {
    flex-direction: column;
}

/*3. Flex-wrap - quebra de linha*/
.wrap {
    flex-wrap: wrap; /* permite quebra de linha*/
}
.nowrap {
    flex-wrap: nowrap;
}
/* 4. justify-content - alinhamento horizontal*/
.justificar-inicio {
    justify-content: start; /*padrão*/
}
.justificar-fim {
    justify-content: end;

}

.justificar-centro {
    justify-content: center;
}

.justificar-space-between {
    justify-content: space-between;
}

.justificar-space-around {
    justify-content: space-around;
}

.justificar-space-evenly {
    justify-content: space-evenly;
}

/* 5. align-items - alinhamento vertical  */
.alinhar-items .container-flex {
    height: 300px;
}

.alinhar-stretch {
    align-items: stretch; /* padrão */
}

.alinhar-inicio {
    align-items: start;
}

.alinhar-fim {
    align-items: end;
}

.alinhar-centro {
    align-items: center;
}

.alinhar-baseline {
    align-items: baseline;
}

.alinhar-conteudo {
    align-content: center;
    height: 600px;
}
.alinhar-conteudo .caixa{
    flex: 0 0 30%;
}
.caixa {
    padding: 20px;
    text-align: center;
    color: white;
}

.ordem1 {
    order: 1;
}
.ordem2 {
    order: 2;
}
.ordem3 {
    order: 3;
}
.exemplo-graw .item-flex {
    flex-basis: 100px;
}
.crescer1{
    flex-grow: 1;
}
.crescer2{
        flex-grow: 2;

}
.alinhar-items-individuais .container-flex{
    height: 300px;
}

.self-inicio {
    align-self: start;
}

.self-centro {
   align-self: center;
}

.self-fim {
    align-self: end;
}

/* Menu de navegação */
.menu-nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
.menu-nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;  
}
.menu-nav a:hover{
    background-color: white;
    color: black;
}
.responsivo {
    flex-wrap: wrap;
}